nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

a:hover {
    background-color: rgb(13, 200, 225);
    color: rgb(0, 3, 6);
}